/* body {
  font-family: 'Raleway', sans-serif;
  background:#eee;
} */

.about-card {
  position: absolute;
  top: 30%;
  left: 40%;
  width: 300px;
  height: 500px;
  perspective: 900px;
  z-index: 10;
}

.about-card .card {
  position: absolute;
  top: 0%;
  width: 100%;
  height: 100%;
  transition: .5s all ease;
  transform: rotateX(60deg) scale(0.7);
  perspective: 900px;
  box-shadow: 0px 20px 50px #555;
  animation: entry 1s linear 1;
}

.about-card #c0 {
  position: absolute;
  top: 0%;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, #eba65b 30%, #d99267 100%);
  z-index: 300;/*使中间的卡片可以盖住下面的字幕*/
  box-shadow: 0px 20px 100px #555;
}

.about-card #c1 {
  background: linear-gradient(to bottom, #59476f 30%, #7b88d1 100%);
  box-shadow: 0px 20px 100px #555;
  left: 100%;
  z-index: 0;
}

.about-card #c2 {
  left: -100%;
  z-index: 0;
  background: linear-gradient(to bottom, #7c7c7c 30%, #d6d6d6 100%);
  box-shadow: 0px 20px 100px #555;
}

.about-card .card:hover {
  cursor: pointer;
  transform: rotate(0deg) scale(1) translateY(10px);
  transition: .5s all ease;
  z-index: 400;
}

.about-card .image {
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 50%;
  background: linear-gradient(to top, #eba65b 30%, #d99267 100%);
}

.about-card #i1 {
  background: linear-gradient(to bottom, #59476f 30%, #7b88d1 100%);
}

.about-card #i2 {
  background: linear-gradient(to bottom, #7c7c7c 30%, #d6d6d6 100%);/*左*/
}

.about-card span {
  position: absolute;
  top: 0%;
  left: 55%;
  border-radius: 100%;
  background-color: #fff;
  z-index: 10;
}

.about-card .story {
  position: absolute;
  top: 50%;
  left: 0%;
  height: 55%;
  width: 100%;
  background: linear-gradient(to bottom, #eba65b 0%, #d99267 40%);
  z-index: 30;
}

.about-card #s1 {
  background: linear-gradient(to top, #5b62a2 0%, #7b88d1 100%);
}

.about-card #s2 {
  background: linear-gradient(to top, #7c7c7c 0%, #d6d6d6 100%);
}

.about-card .info {
  position: absolute;
  top: 10%;
}

.about-card h3 {
  text-align: center;
  text-shadow: 0px 0px 10px #eee;
  color: #eee;
  letter-spacing: 2px;
}

.about-card h4 {
  color: #111;
  position: absolute;
  top: 30%;
  left: 30%;
  letter-spacing: 2px;
}

.about-card h1 {
  color: #111;
  position: fixed;
  top: 0%;
  left: 30%;
  letter-spacing: 2px;
}

.about-card p {
  font-size: 14px;
  color: #fff;
  padding: 0px 20px 20px 20px;
  line-height: 150%;
  text-align: center;
  letter-spacing: 1px;
}

.about-card .page {
  position: absolute;
  text-align: center;
  top: 80%;
  width: 100%;
  left: 0%;
  height: 20%;
  z-index: 30;
}

.about-card .page h4 {
  color: #fff;
  position: absolute;
  top: 50%;
}

.about-card li {
  position: absolute;
  top: 50%;
  list-style: none;
  color: #fff;
}

.about-card li:nth-child(1) {
  left: 15%;
  animation: simple1 1s linear infinite;
}

.about-card li:nth-child(2) {
  right: 15%;
  animation: simple 1s linear infinite;
}

@keyframes simple {
  50% {
    transform: translateX(10px);
    opacity: 0.5;
  }
  100% {
    transform: translateX(10px);
    opacity: 0;
  }
}

@keyframes simple1 {
  50% {
    transform: translateX(-10px);
    opacity: 0.5;
  }
  100% {
    transform: translateX(-10px);
    opacity: 0;
  }
}

@keyframes entry {
  0% {
    top: -20%;
    opacity: 0.1;
  }
  100% {
    top: 0%;
  }
}