* {
  margin: 0;
  padding: 0;
  /* 防止padding撑大盒子 */
  box-sizing: border-box;
}

body {
  width: 100%;
  background: url("../image/background/basebg.jpg") no-repeat;
  background-position: center center;
  /*悬浮*/
  background-attachment: fixed;
  background-size: cover;
  /* body最小 */
  min-height: 1000px;
}

a {
  text-decoration:none
}

#snow {
  /*snow*/
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  /*雪在第二下层*/
}

/*滚动条设置*/
::-webkit-scrollbar {
  width: 12px;
  /*宽度*/
  background-color: rgb(255, 255, 255);
  /*背景颜色*/
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(transparent, #63b8fa);
  border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(transparent, #f1e252);
}