/* 第一组永远的包装器 */
main {
    overflow: hidden;
}

main .card-wrap {
    display: grid;
    grid-template-columns: 400px 400px;
    padding: 40px 0;
    position: absolute;
    /* 卡片容器距顶 相对 */
    top: 100px;
    left: 250px;
    width: 800px;
    z-index: 10;
    /* 阻止卡片容器触发鼠标点击事件 */
    pointer-events: none;
}

@media (max-width:1000px) {
    main .card-wrap {
        grid-template-columns: 400px;
    }  
}

main .card-wrap .box {
    position: relative;
    width: 320px;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 40px 30px;
    transition: 0.5s;
    /* 只有卡片盒子触发鼠标点击事件 */
    pointer-events: all;
}

main .card-wrap .box::before {
    content: '';
    position: absolute;
    top: 0;
    left: 50px;
    width: 50%;
    height: 100%;
    background: #fff;
    border-radius: 8px;
    transform: skew(15deg);
    transition: 0.5s;
}

main .card-wrap .box::after {
    content: '';
    position: absolute;
    top: 0;
    left: 50px;
    width: 50%;
    height: 100%;
    background: #fff;
    border-radius: 8px;
    transform: skew(15deg);
    filter: blur(30px);
    transition: 0.5s;
}

/* hover之后 */
main .card-wrap .box:hover:before,
main .card-wrap .box:hover:after {
    transform: skew(0deg);
    left: 20px;
    width: calc(100% - 90px);
}

main .card-wrap .box:nth-child(1):before,
main .card-wrap .box:nth-child(1):after {
    background: linear-gradient(315deg, #00ffff, #0077ff);
}

main .card-wrap .box:nth-child(2):before,
main .card-wrap .box:nth-child(2):after {
    background: linear-gradient(315deg, #4dff03, #00d0ff);
}

main .card-wrap .box:nth-child(3):before,
main .card-wrap .box:nth-child(3):after {
    background: linear-gradient(315deg, #03a9f4, #ff0058);
}

main .card-wrap .box span {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 11;
    pointer-events: none;
}

main .card-wrap .box span::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.1);
    /* 毛玻璃太多很卡 */
    /* backdrop-filter: blur(10px); */
    opacity: 0;
    transition: 0.5s;
    animation: animate 2s ease-in-out infinite;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
}

main .card-wrap .box:hover span::before {
    top: -50px;
    left: 50px;
    width: 100px;
    height: 100px;
    opacity: 1;
}

main .card-wrap .box span::after {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.1);
    /* backdrop-filter: blur(10px); */
    opacity: 0;
    transition: 0.5s;
    animation: animate 2s ease-in-out infinite;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
    animation-delay: -1s;
}

main .card-wrap .box:hover span::after {
    bottom: -50px;
    right: 50px;
    width: 100px;
    height: 100px;
    opacity: 1;
}

@keyframes animate {
    0%, 100% {
        transform: translateY(10px);
    }

    50% {
        transform: translateY(-10px);
    }
}

main .card-wrap .content {
    position: relative;
    left: 0;
    padding: 20px 40px;
    background: rgba(255, 255, 255, 0.05);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    /* backdrop-filter: blur(10px); */
    transition: 0.5s;
    color: white;
    z-index: 11;
}

main .card-wrap .box:hover .content {
    left: -25px;
    padding: 60px 40px;
}
main .card-wrap .content h2{
    font-size: 2em;
    color: white;
    margin-bottom: 10px;
}
main .card-wrap .content p{
    font-size: 1.1em;
    margin-bottom: 10px;
    line-height: 1.4em;
}
main .card-wrap .content a{
    display: inline-block;
    font-size: 1.1em;
    color: #111;
    background: white;
    padding: 10px;
    border-radius: 4px;
    text-decoration: none;
    font-weight: 700;
    margin-top: 5px;
}