/* 第一组永远的包装器 */
.nav-wrap {
    /*浮动*/
    position: fixed;
    display: flex;
    align-items: center;
    top: 0px;
    height: 100%;
    left: 20px;
    z-index: 20;
    pointer-events: none;
}

/* 大小调整 */
@media (max-width:1000px) and (min-height:1500px){
    .nav-wrap{
        display: block;
        top: 250px;
    }
}

@media (max-width:500px) {
    .nav-wrap{
        transform: scale(0.6,0.6);
        left: -10px;
    } 
}

.nav-wrap .nav {
    width: 110px;
    /* 侧边栏最小、大高度 */
    max-height: 900px;
    /* 侧边栏相对高度 */
    height: 700px;
    background: rgba(0, 0, 0, 0.8);
    border-radius: 20px;
    overflow: hidden;
    transition: 0.5s;
    pointer-events: all;
}

/* 只在大屏上触发的侧边栏展开 */
@media (min-width: 1000px) {
    .nav-wrap .nav:hover {
        width: 250px;
    }
}

.nav-wrap p {
    color: rgba(255, 255, 255, 0.6);
    padding-top: 5px;
}

.nav-wrap h2 {
    color: rgba(255, 255, 255, 0.6);
    font-weight: 400;
}

.nav-wrap .con {
    color: rgba(255, 255, 255, 0.6);
}

.nav-wrap .icon {
    width: 250px;
    height: 60px;
    margin-left: 25px;
    /*图片等距左*/
    margin-top: 20px;
    display: flex;
}

.nav-wrap .icon-img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 4px solid rgba(255, 255, 255, 0.3);
    overflow: hidden;
}

.nav-wrap .icon-img img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}

.nav-wrap .icon-con {
    height: 60px;
    margin-left: 25px;
}

.nav-wrap .nav-line {
    width: 60px;
    height: 1px;
    background: rgba(245, 255, 255, 0.5);
    margin: 20px 25px;
    transition: 0.5s;
}

/* 只在大屏上触发的侧边栏展开 */
@media (min-width: 1000px) {
    .nav-wrap .nav:hover .nav-line {
        width: 200px;
    }
}

.nav-wrap .title {
    width: 60px;
    margin-left: 40px;
    /*p标签 Page字段等距左*/
    margin-bottom: 20px;
}

.nav-wrap .title p {
    font-size: 14px;
}

.nav-wrap .menu {
    width: 60px;
    margin-left: 25px;
}

/* 只在大屏上触发的侧边栏展开 */
@media (min-width: 1000px) {
    .nav-wrap .nav:hover .menu {
        width: 200px;
        margin-left: 25px;
    }
}

.nav-wrap .item {
    display: flex;
    position: relative;
    transition: 0.5s;
    border-radius: 6px;
}

.nav-wrap .item:hover {
    background: rgba(255, 255, 255, 0.1);
}

.nav-wrap .licon {
    width: 60px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-wrap .con {
    width: 0;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
    overflow: hidden;
    position: relative;
    left: -20px;
    opacity: 0;
}

/* 只在大屏上触发的侧边栏展开 */
@media (min-width: 1000px) {
    .nav-wrap .nav:hover .con {
        width: 160px;
        display: flex;
        align-items: center;
        justify-content: center;
        opacity: 1;
    }
}

.nav-wrap .ricon {
    width: 0;
    height: 50px;
    transition: 0.5s;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    opacity: 0;
}

/* 只在大屏上触发的侧边栏展开 */
@media (min-width: 1000px) {
    .nav-wrap .nav:hover .ricon {
        width: 60px;
        display: flex;
        align-items: center;
        justify-content: center;
        opacity: 1;
    }
}

.nav-wrap .iconfont {
    font-size: 26px;
    color: rgba(255, 255, 255, 0.6);
}

.nav-wrap .ricon .iconfont {
    font-size: 20px;
    color: #62cb44;
}

.nav-wrap .light {
    width: 6px;
    height: 50px;
    background: #68f5ff;
    position: absolute;
    left: -25px;
    transition: 0.5s;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    opacity: 0;
}

.nav-wrap .item:hover .light {
    opacity: 1;
}

.nav-wrap .serve {
    width: 60px;
    background: rgba(0, 0, 0, 0.7);
    margin-left: 25px;
    border-radius: 10px;
    overflow: hidden;
    transition: 0.5s;
}

/* 只在大屏上触发的侧边栏展开 */
@media (min-width: 1000px) {
    .nav-wrap .nav:hover .serve {
        width: 230px;
    }
}