<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="utf-8">
    <meta name="description" content="个人博客，分享生活 &#9885;墨璃暮湮·芳塔洛斯&#10031;的个人博客 努力奔跑，为了追上那个曾被寄予厚望的自己">
    <meta name="viewport" content="width=device-width, initial-scale=0.5, minimum-scale=0.5, maximum-scale=2.0">
    <title>芳塔洛斯</title>
    <link rel="Shortcut Icon" href=https://fangtaluosi.top/img/icon/logo.png>

    <!-- 基本css -->
    <link rel="stylesheet" href=https://fangtaluosi.top/css/basic/basic.css>
    <!-- 主页基本css -->
    <link rel="stylesheet" href=https://fangtaluosi.top/css/page/index-basic.css>
    <!--loading组件与background组件-->
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.min.js"></script>
    <!--snow组件-->
    <script src="https://cdn.jsdelivr.net/npm/particles.js@2.0.0/particles.min.js"></script>
    <script src="https://fangtaluosi.top/js/snow.js"></script>
    <!-- 返回顶部 -->
    <script src="https://fangtaluosi.top/js/nav.js"></script>
    <!-- 复制代码 -->
    <script src=https://fangtaluosi.top/js/copy-code.js></script>
    <!-- 页脚飞鱼 -->
    <script src="https://fangtaluosi.top/js/fish.js"></script>
<!-- 文章内容 -->
<link rel="stylesheet" href=https://fangtaluosi.top/css/page/article-content.css>
<!-- katex数学渲染 -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.15.2/dist/katex.min.css"
    integrity="sha384-MlJdn/WNKDGXveldHDdyRP1R4CTHr3FeuDNfhsLPYrq2t0UBkUdK2jyTnXPEK1NQ" crossorigin="anonymous">
<!-- The loading of KaTeX is deferred to speed up page rendering -->
<script defer src="https://cdn.jsdelivr.net/npm/katex@0.15.2/dist/katex.min.js"
    integrity="sha384-VQ8d8WVFw0yHhCk5E8I86oOhv48xLpnDZx5T9GogA/Y84DcCKWXDmSDfn13bzFZY" crossorigin="anonymous">
</script>
<!-- To automatically render math in text elements, include the auto-render extension: -->
<script defer src="https://cdn.jsdelivr.net/npm/katex@0.15.2/dist/contrib/auto-render.min.js"
    integrity="sha384-+XBljXPPiv+OzfbB3cVmLHf4hdUFHlWNZN5spNQ7rmHTXpd7WvJum6fIACpNNfIR" crossorigin="anonymous"
    onload="renderMathInElement(document.body);"></script>
</head>

<body>
    <header>
<div class="search-wrap">
    <div class="searchBox">
        <div class="shadow"></div>
        <input type="text" placeholder="Search for...">
        <span class="iconfont icon-search"></span>
    </div>
</div>
</header>
    <nav>
        <!-- 导航栏 -->
<div class="nav-wrap">
    <div class="nav">
        <a class="icon" href=https://fangtaluosi.top/>
            <div class="icon-img"><img src=https://fangtaluosi.top/img/icon/logo-bg.png alt=""></div>
            <div class="icon-con">
                <p>Good day</p>
                <h2>芳塔洛斯</h2>
            </div>
        </a>
        <div class="nav-line"></div>
        <div class="title">
            <p>Page</p>
        </div>
        <div class="menu">
            <a class="item" href=https://fangtaluosi.top/>
                <div class="light"></div>
                <div class="licon">
                    <span class="iconfont icon-home_light"></span>
                </div>
                <div class="con">Home</div>
                <div class="ricon">
                    <span class="iconfont icon-shezhi"></span>
                </div>
            </a>
            <a class="item" href=https://fangtaluosi.top/resource>
                <div class="light"></div>
                <div class="licon">
                    <span class="iconfont icon-resource"></span>
                </div>
                <div class="con">Resource</div>
                <div class="ricon"></div>
            </a>
            <a class="item" href=https://fangtaluosi.top/blog>
                <div class="light"></div>
                <div class="licon">
                    <span class="iconfont icon-ego-blog"></span>
                </div>
                <div class="con">Blog</div>
                <div class="ricon"></div>
            </a>
            <a class="item" href=https://fangtaluosi.top/about>
                <div class="light"></div>
                <div class="licon">
                    <span class="iconfont icon-about"></span>
                </div>
                <div class="con">About</div>
                <div class="ricon"></div>
            </a>
            <a class="item" href=https://fangtaluosi.top/tags>
                <div class="light"></div>
                <div class="licon">
                    <span class="iconfont icon-tag"></span>
                </div>
                <div class="con">Tags</div>
                <div class="ricon"></div>
            </a>
        </div>

        <div class="nav-line"></div>
        <div class="title">
            <p>Sever</p>
        </div>
        <div class="serve">
            <div class="item">
                <div class="light"></div>
                <div class="licon">
                    <span class="iconfont icon-link"></span>
                </div>
                <div class="con">Contact</div>
                <div class="ricon"></div>
            </div>
            <div class="item">
                <div class="light"></div>
                <div class="licon">
                    <span class="iconfont icon-yinle"></span>
                </div>
                <div class="con">Music</div>
                <div class="ricon"></div>
            </div>
            <a href="javascript:void(0)" id="to-top">
                <div class="item">
                    <div class="light"></div>
                    <div class="licon">
                        <span class="iconfont icon-xiangshang"></span>
                    </div>
                    <div class="con">ToTop</div>
                    <div class="ricon"></div>
                </div>
            </a>
        </div>
    </div>
</div>
</nav>
    <aside>

    </aside>
    <article> 
    </article>
    <main>
<div class="article-page-wrap">
    <h1 class="article-title">
        Zola使用教程(1) 初识Zola
    </h1>
    <p class="article-date"><strong>2022-01-22</strong></p>
    <h2 id="zolasu-lan">Zola速览</h2>
<p><a href="https://www.getzola.org/">Zola</a>是一个静态站点生成器，采用Rust编写，并使用Tera模板引擎，通过动态模板将内容转化为静态HTML页面。Zola可以帮助您更快的构造站点，并完成大量重复性工作，即使以后不想在使用zola，也可以将站点编译为普通的HTML文件导出</p>
<h2 id="kai-shi">开始</h2>
<p>在官网下载Zola的二进制文件，并把它放入环境变量，接下来在命令行终端运行</p>
<pre data-lang="txt" style="background-color:#eff1f5;color:#4f5b66;" class="language-txt "><code class="language-txt" data-lang="txt"><span>zola init [站点名称]</span><span>
</span></code></pre>
<p>Zola将会向您提出几个问题</p>
<pre data-lang="txt" style="background-color:#eff1f5;color:#4f5b66;" class="language-txt "><code class="language-txt" data-lang="txt"><span>&gt; What is the URL of your site? (https://example.com): #站点的url是什么</span><span>
</span><span>&gt; Do you want to enable Sass compilation? [Y/n]: #是否启用sass编译</span><span>
</span><span>&gt; Do you want to enable syntax highlighting? [y/N]: #是否启用语法高亮</span><span>
</span><span>&gt; Do you want to build a search index of the content? [y/N]: #是否构造索引</span><span>
</span></code></pre>
<p>接下来，zola将会为我们初始化以下文件</p>
<pre data-lang="txt" style="background-color:#eff1f5;color:#4f5b66;" class="language-txt "><code class="language-txt" data-lang="txt"><span>├── config.toml</span><span>
</span><span>├── content</span><span>
</span><span>├── sass</span><span>
</span><span>├── static</span><span>
</span><span>├── templates</span><span>
</span><span>└── themes</span><span>
</span></code></pre>
<p>你可以通过<code>zola build</code>命令来编译生成站点，也可以通过<code>zola serve</code>命令开启一个本地服务器，实时监听文件更新并即时编译站点，这时打开服务器的链接应该会看到zola的欢迎页面</p>
<h2 id="zhu-ye">主页</h2>
<p>templates(模板)是我们存放页面模板的地方</p>
<p>首先在模板文件夹下创建一个base.html文件，写入以下内容</p>
<pre data-lang="html" style="background-color:#eff1f5;color:#4f5b66;" class="language-html "><code class="language-html" data-lang="html"><span>&lt;!</span><span style="color:#b48ead;">DOCTYPE </span><span style="color:#d08770;">html</span><span>&gt;</span><span>
</span><span>&lt;</span><span style="color:#bf616a;">html </span><span style="color:#d08770;">lang</span><span>=&quot;</span><span style="color:#a3be8c;">en</span><span>&quot;&gt;</span><span>
</span><span>
</span><span>&lt;</span><span style="color:#bf616a;">head</span><span>&gt;</span><span>
</span><span>    &lt;</span><span style="color:#bf616a;">meta </span><span style="color:#d08770;">charset</span><span>=&quot;</span><span style="color:#a3be8c;">utf-8</span><span>&quot;&gt;</span><span>
</span><span>    &lt;</span><span style="color:#bf616a;">title</span><span>&gt;MyBlog&lt;/</span><span style="color:#bf616a;">title</span><span>&gt;</span><span>
</span><span>&lt;/</span><span style="color:#bf616a;">head</span><span>&gt;</span><span>
</span><span>
</span><span>&lt;</span><span style="color:#bf616a;">body</span><span>&gt;</span><span>
</span><span>    {% block content %} {% endblock %}</span><span>
</span><span>&lt;/</span><span style="color:#bf616a;">body</span><span>&gt;</span><span>
</span><span>
</span><span>&lt;/</span><span style="color:#bf616a;">html</span><span>&gt;</span><span>
</span></code></pre>
<p>目前zola对中文的支持不是很好，所以默认语言用en就好</p>
<p>其中<code>{% block content %} {% endblock %}</code>代表这里将会被一个名为content的块取代，如果不希望编译生成的html文件在这里有换行，可以替换为<code>{%- block content %} {% endblock -%}</code></p>
<p>接下来，在模板目录创建一个index.html文件，并写入以下内容</p>
<pre data-lang="html" style="background-color:#eff1f5;color:#4f5b66;" class="language-html "><code class="language-html" data-lang="html"><span>{% extends &quot;base.html&quot; %}</span><span>
</span><span>
</span><span>{% block content %}</span><span>
</span><span>&lt;</span><span style="color:#bf616a;">h1 </span><span style="color:#d08770;">class</span><span>=&quot;</span><span style="color:#a3be8c;">title</span><span>&quot;&gt;</span><span>
</span><span>  This is my blog made with Zola.</span><span>
</span><span>&lt;/</span><span style="color:#bf616a;">h1</span><span>&gt;</span><span>
</span><span>{% endblock content %}</span><span>
</span></code></pre>
<p>其中，<code>{% extends &quot;base.html&quot; %}</code>表示该页面继承自base.html。<code>{% block content %}</code>与<code>{% endblock content %}</code>中间夹着的就是一个名为content的块，index文件将以base文件为模板并将content块替换进去生成html文件</p>
<h2 id="content">content</h2>
<p>content(内容)文件夹是分类存放我们的博客内容的文件夹</p>
<p>首先在内容文件夹下新建一个blog文件夹，在content中，每一个子文件夹被称为一个section，在blog文件夹下新建_index.md文件，这将会被编译成名为blog的导航页面，在其中以TOML格式写下如下变量</p>
<pre data-lang="md" style="background-color:#eff1f5;color:#4f5b66;" class="language-md "><code class="language-md" data-lang="md"><span>+++</span><span>
</span><span>title = &quot;List of blog posts&quot;</span><span>
</span><span>sort_by = &quot;date&quot;</span><span>
</span><span>template = &quot;blog/section.html&quot;</span><span>
</span><span>page_template = &quot;blog/page.html&quot;</span><span>
</span><span>+++</span><span>
</span></code></pre>
<p>其中的变量不是必须的，但两排+是必须的</p>
<ul>
<li>title变量不言而喻，不过你可以在section模板中调用section.title这个变量</li>
<li>sort_by 变量指明了排列博客的标准，这里是按照日期排序</li>
<li>template变量指明了这个section所采用的模板</li>
<li>page_template指明了这个section下的page所使用的模板</li>
</ul>
<p>完整的section变量可在官方文档或者之后的文章中查询</p>
<h2 id="template">template</h2>
<p>现在让我们为blog section创建模板</p>
<p>在模板文件夹下创建blog/section.html，并写入以下内容</p>
<pre data-lang="html" style="background-color:#eff1f5;color:#4f5b66;" class="language-html "><code class="language-html" data-lang="html"><span>{% extends &quot;base.html&quot; %}</span><span>
</span><span>
</span><span>{% block content %}</span><span>
</span><span>&lt;</span><span style="color:#bf616a;">h1 </span><span style="color:#d08770;">class</span><span>=&quot;</span><span style="color:#a3be8c;">title</span><span>&quot;&gt;</span><span>
</span><span>    {{ section.title }}</span><span>
</span><span>&lt;/</span><span style="color:#bf616a;">h1</span><span>&gt;</span><span>
</span><span>&lt;</span><span style="color:#bf616a;">ul</span><span>&gt;</span><span>
</span><span>    {% for page in section.pages %}</span><span>
</span><span>    &lt;</span><span style="color:#bf616a;">li</span><span>&gt;&lt;</span><span style="color:#bf616a;">a </span><span style="color:#d08770;">href</span><span>=&quot;</span><span style="color:#a3be8c;">{{ page.permalink | safe }}</span><span>&quot;&gt;{{ page.title }}&lt;/</span><span style="color:#bf616a;">a</span><span>&gt;&lt;/</span><span style="color:#bf616a;">li</span><span>&gt;</span><span>
</span><span>    {% endfor %}</span><span>
</span><span>&lt;/</span><span style="color:#bf616a;">ul</span><span>&gt;</span><span>
</span><span>{% endblock content %}</span><span>
</span></code></pre>
<p><code>{{ section.title }}</code>在编译时会被section的title变量所取代，<code>{% for page in section.pages %}</code>是zola的一种短代码，类似rust中的迭代器，迭代section中所有的page(在section下除了_index.md之外，其他的markdown文件被称为page)。</p>
<p><code>{{ page.permalink | safe }}</code>前半部分是page下的变量，代表这个page的url，<code>|</code>后面是一个过滤器，使用它的原因是固定链接不需要进行转义(转义会导致<code>/</code>变成<code>&amp;#x2F</code>)</p>
<p>这时进入浏览器中的<code>[地址]/blog</code>将会看到blog页面，这个页面是空的因为我们还没有任何一篇博客</p>
<h2 id="zhuan-xie-di-yi-pian-bo-ke">撰写第一篇博客</h2>
<p>在blog文件夹下新建first.md，并写入</p>
<pre data-lang="md" style="background-color:#eff1f5;color:#4f5b66;" class="language-md "><code class="language-md" data-lang="md"><span>+++</span><span>
</span><span>title = &quot;我的第一篇博客&quot;</span><span>
</span><span>date = 2022-01-22</span><span>
</span><span>+++</span><span>
</span><span>
</span><span>Hello World！</span><span>
</span></code></pre>
<p>其中的变量可以在blog/page.html下被使用，变量之下是博客内容，可作为page.content变量被使用</p>
<p>现在进入blog/page.html，并写入如下内容</p>
<pre data-lang="html" style="background-color:#eff1f5;color:#4f5b66;" class="language-html "><code class="language-html" data-lang="html"><span>{% extends &quot;base.html&quot; %}</span><span>
</span><span>
</span><span>{% block content %}</span><span>
</span><span>&lt;</span><span style="color:#bf616a;">h1 </span><span style="color:#d08770;">class</span><span>=&quot;</span><span style="color:#a3be8c;">title</span><span>&quot;&gt;</span><span>
</span><span>    {{ page.title }}</span><span>
</span><span>&lt;/</span><span style="color:#bf616a;">h1</span><span>&gt;</span><span>
</span><span>&lt;</span><span style="color:#bf616a;">p </span><span style="color:#d08770;">class</span><span>=&quot;</span><span style="color:#a3be8c;">subtitle</span><span>&quot;&gt;&lt;</span><span style="color:#bf616a;">strong</span><span>&gt;{{ page.date }}&lt;/</span><span style="color:#bf616a;">strong</span><span>&gt;&lt;/</span><span style="color:#bf616a;">p</span><span>&gt;</span><span>
</span><span>{{ page.content | safe }}</span><span>
</span><span>{% endblock content %}</span><span>
</span></code></pre>
<p>接下来，让我们创建第二篇博客，之后再次进入blog页面，你将看到这两条博客按照page中的date变量排列了</p>
<p>最后，你可以在主页放入一个blog页面的超链接。我们的初识zola之旅就到此为止了</p>
<h2 id="fu">附</h2>
<ul>
<li>zola一共有四条子命令
<ul>
<li>init 初始化站点，后面可不加名称参数</li>
<li>build</li>
<li>serve</li>
<li>check 用于检查模板文件等是否存在错误</li>
<li>更多信息可运行<code>zola --help</code></li>
</ul>
</li>
<li>文件结构
<ul>
<li>public 编译输出默认目录</li>
<li>static 存放静态文件，如js 图片 css</li>
<li>sass 存放sass/scss文件，推荐使用scss，编译后会放到public文件夹下</li>
<li>themes 存放主题，主题可在官网下载</li>
</ul>
</li>
<li>config.toml
<ul>
<li>其中的变量可通过<code>config.</code>调用，完整变量表如下(特长警告)</li>
</ul>
</li>
</ul>
<pre data-lang="toml" style="background-color:#eff1f5;color:#4f5b66;" class="language-toml "><code class="language-toml" data-lang="toml"><span style="color:#a7adba;"># 站点url，唯一必要变量</span><span>
</span><span style="color:#bf616a;">base_url </span><span>= &quot;</span><span style="color:#a3be8c;">mywebsite.com</span><span>&quot;</span><span>
</span><span>
</span><span style="color:#a7adba;"># 站点标题与描述，在feed中使用</span><span>
</span><span style="color:#bf616a;">title </span><span>= &quot;&quot;</span><span>
</span><span style="color:#bf616a;">description </span><span>= &quot;&quot;</span><span>
</span><span>
</span><span style="color:#a7adba;"># 默认语言，用于搜索框建立索引，目前不支持中文</span><span>
</span><span style="color:#bf616a;">default_language </span><span>= &quot;</span><span style="color:#a3be8c;">en</span><span>&quot;</span><span>
</span><span>
</span><span style="color:#a7adba;"># 站点所用主题</span><span>
</span><span style="color:#bf616a;">theme </span><span>= &quot;&quot;</span><span>
</span><span>
</span><span style="color:#a7adba;"># 输出文件夹，默认是public</span><span>
</span><span style="color:#bf616a;">output_dir </span><span>= &quot;</span><span style="color:#a3be8c;">public</span><span>&quot;</span><span>
</span><span>
</span><span style="color:#a7adba;"># 是否启用sass编译</span><span>
</span><span style="color:#bf616a;">compile_sass </span><span>= </span><span style="color:#d08770;">false</span><span>
</span><span>
</span><span style="color:#a7adba;"># 是否压缩html文件</span><span>
</span><span style="color:#bf616a;">minify_html </span><span>= </span><span style="color:#d08770;">false</span><span>
</span><span>
</span><span style="color:#a7adba;"># 用于指定被忽略的文件目录</span><span>
</span><span style="color:#a7adba;"># 例如:</span><span>
</span><span style="color:#a7adba;">#     ignored_content = [&quot;*.{graphml,xlsx}&quot;, &quot;temp.*&quot;]</span><span>
</span><span style="color:#bf616a;">ignored_content </span><span>= []</span><span>
</span><span>
</span><span style="color:#a7adba;"># 是否自动生成feed</span><span>
</span><span style="color:#bf616a;">generate_feed </span><span>= </span><span style="color:#d08770;">false</span><span>
</span><span>
</span><span style="color:#a7adba;"># 用于feed的文件名</span><span>
</span><span style="color:#bf616a;">feed_filename </span><span>= &quot;</span><span style="color:#a3be8c;">atom.xml</span><span>&quot;</span><span>
</span><span>
</span><span style="color:#a7adba;"># 提要中的文章数，默认未设置</span><span>
</span><span style="color:#a7adba;"># feed_limit = 20</span><span>
</span><span>
</span><span style="color:#a7adba;"># 当静态文件较大时可启用硬链接避免复制</span><span>
</span><span style="color:#bf616a;">hard_link_static </span><span>= </span><span style="color:#d08770;">false</span><span>
</span><span>
</span><span style="color:#a7adba;"># 为站点呈现分类和默认语言配置</span><span>
</span><span style="color:#a7adba;"># 例如:</span><span>
</span><span style="color:#a7adba;">#     taxonomies = [</span><span>
</span><span style="color:#a7adba;">#       {name = &quot;tags&quot;, feed = true}, # each tag will have its own feed</span><span>
</span><span style="color:#a7adba;">#       {name = &quot;tags&quot;}, # you can have taxonomies with the same name in multiple languages</span><span>
</span><span style="color:#a7adba;">#       {name = &quot;categories&quot;, paginate_by = 5},  # 5 items per page for a term</span><span>
</span><span style="color:#a7adba;">#       {name = &quot;authors&quot;}, # Basic definition: no feed or pagination</span><span>
</span><span style="color:#a7adba;">#     ]</span><span>
</span><span style="color:#a7adba;">#</span><span>
</span><span style="color:#bf616a;">taxonomies </span><span>= []</span><span>
</span><span>
</span><span style="color:#a7adba;"># 是否由默认语言构造索引</span><span>
</span><span style="color:#bf616a;">build_search_index </span><span>= </span><span style="color:#d08770;">false</span><span>
</span><span>
</span><span>[markdown]</span><span>
</span><span style="color:#a7adba;"># markdown语法高亮</span><span>
</span><span style="color:#bf616a;">highlight_code </span><span>= </span><span style="color:#d08770;">false</span><span>
</span><span>
</span><span style="color:#a7adba;"># 用于搜索附加 `.sublime-syntax` 文件的目录列表</span><span>
</span><span style="color:#bf616a;">extra_syntaxes </span><span>= []</span><span>
</span><span>
</span><span style="color:#a7adba;"># 语法高亮主题</span><span>
</span><span style="color:#bf616a;">highlight_theme </span><span>= &quot;</span><span style="color:#a3be8c;">base16-ocean-dark</span><span>&quot;</span><span>
</span><span>
</span><span style="color:#a7adba;"># makedown中emoji转义</span><span>
</span><span style="color:#a7adba;"># 例如: :smile: =&gt; 😄</span><span>
</span><span style="color:#bf616a;">render_emoji </span><span>= </span><span style="color:#d08770;">false</span><span>
</span><span>
</span><span style="color:#a7adba;"># 是否在新建标签打开外部选项卡</span><span>
</span><span style="color:#a7adba;"># 如果开启，出于安全原因，将始终自动添加 `rel=&quot;noopener&quot;`</span><span>
</span><span style="color:#bf616a;">external_links_target_blank </span><span>= </span><span style="color:#d08770;">false</span><span>
</span><span>
</span><span style="color:#a7adba;"># 是否为所有外部链接设置 rel=&quot;nofollow&quot;</span><span>
</span><span style="color:#bf616a;">external_links_no_follow </span><span>= </span><span style="color:#d08770;">false</span><span>
</span><span>
</span><span style="color:#a7adba;"># 是否为所有外部链接设置 rel=&quot;noreferrer&quot;</span><span>
</span><span style="color:#bf616a;">external_links_no_referrer </span><span>= </span><span style="color:#d08770;">false</span><span>
</span><span>
</span><span style="color:#a7adba;"># 是否启用智能标点符号（更改排版形式的引号、破折号、圆点）</span><span>
</span><span style="color:#a7adba;"># 比如, `...` 到 `…`, `&quot;quote&quot;` 到 `“curly”`</span><span>
</span><span style="color:#bf616a;">smart_punctuation </span><span>= </span><span style="color:#d08770;">false</span><span>
</span><span>
</span><span style="color:#a7adba;"># 链接检查器的配置。</span><span>
</span><span>[link_checker]</span><span>
</span><span style="color:#a7adba;"># 跳过以这些前缀开头的外部 URL 的链接检查</span><span>
</span><span style="color:#bf616a;">skip_prefixes </span><span>= [</span><span>
</span><span>    &quot;</span><span style="color:#a3be8c;">http://[2001:db8::]/</span><span>&quot;,</span><span>
</span><span>]</span><span>
</span><span>
</span><span style="color:#a7adba;"># 跳过以这些前缀开头的外部 URL 的锚点检查</span><span>
</span><span style="color:#bf616a;">skip_anchor_prefixes </span><span>= [</span><span>
</span><span>    &quot;</span><span style="color:#a3be8c;">https://caniuse.com/</span><span>&quot;,</span><span>
</span><span>]</span><span>
</span><span>
</span><span>[slugify]</span><span>
</span><span style="color:#bf616a;">paths </span><span>= &quot;</span><span style="color:#a3be8c;">on</span><span>&quot;</span><span>
</span><span style="color:#bf616a;">taxonomies </span><span>= &quot;</span><span style="color:#a3be8c;">on</span><span>&quot;</span><span>
</span><span style="color:#bf616a;">anchors </span><span>= &quot;</span><span style="color:#a3be8c;">on</span><span>&quot;</span><span>
</span><span>
</span><span>[search]</span><span>
</span><span style="color:#a7adba;"># 是否在索引中包含页面/部分的标题</span><span>
</span><span style="color:#bf616a;">include_title </span><span>= </span><span style="color:#d08770;">true</span><span>
</span><span style="color:#bf616a;">include_description </span><span>= </span><span style="color:#d08770;">false</span><span>
</span><span style="color:#bf616a;">include_path </span><span>= </span><span style="color:#d08770;">false</span><span>
</span><span style="color:#bf616a;">include_content </span><span>= </span><span style="color:#d08770;">true</span><span>
</span><span>
</span><span style="color:#a7adba;"># 将内容截断到哪个字符。如果您有很多页面并且索引会变得太大</span><span>
</span><span style="color:#a7adba;">#而无法在站点上加载，则很有用。默认为未设置。</span><span>
</span><span style="color:#a7adba;"># truncate_content_length = 100</span><span>
</span><span>
</span><span>[translations]</span><span>
</span><span style="color:#a7adba;"># 例子:</span><span>
</span><span style="color:#a7adba;">#     default_language = &quot;fr&quot;</span><span>
</span><span style="color:#a7adba;">#</span><span>
</span><span style="color:#a7adba;">#     [translations]</span><span>
</span><span style="color:#a7adba;">#     title = &quot;Un titre&quot;</span><span>
</span><span style="color:#a7adba;">#</span><span>
</span><span>
</span><span style="color:#a7adba;"># 语言配置，详见官网</span><span>
</span><span>[languages]</span><span>
</span><span style="color:#a7adba;"># [languages.fr]</span><span>
</span><span style="color:#a7adba;"># title = &quot;Mon blog&quot;</span><span>
</span><span style="color:#a7adba;"># generate_feed = true</span><span>
</span><span style="color:#a7adba;"># taxonomies = [</span><span>
</span><span style="color:#a7adba;">#    {name = &quot;auteurs&quot;},</span><span>
</span><span style="color:#a7adba;">#    {name = &quot;tags&quot;},</span><span>
</span><span style="color:#a7adba;"># ]</span><span>
</span><span style="color:#a7adba;"># build_search_index = false</span><span>
</span><span>
</span><span style="color:#a7adba;"># 在这放自定义变量</span><span>
</span><span style="color:#a7adba;"># 例如:</span><span>
</span><span style="color:#a7adba;">#     [extra]</span><span>
</span><span style="color:#a7adba;">#     author = &quot;Famous author&quot;</span><span>
</span><span style="color:#a7adba;">#</span><span>
</span><span style="color:#a7adba;"># author 可作为 {{ config.extra.author }} 在模板中使用</span><span>
</span><span style="color:#a7adba;">#</span><span>
</span><span>[extra]</span><span>
</span></code></pre>

</div>
</main>
    <!-- 分页 --> <!--snow雪花组件-->
    <div id="snow"></div>
    <!--loading组件-->
<div class="loading" id="loading">
    <div class="left"></div>
    <div class="right"></div>
    <div class="wrapper">
        <div class="line line1">
            <span class="circle circle-top"></span>
            <div class="dotted">
                <span class="dot dot-top"></span>
                <span class="dot dot-middle-top"></span>
                <span class="dot dot-middle-bottom"></span>
                <span class="dot dot-bottom"></span>
            </div>
            <span class="circle circle-bottom"></span>
        </div>
        <div class="line line2">
            <span class="circle circle-top"></span>
            <div class="dotted">
                <span class="dot dot-top"></span>
                <span class="dot dot-middle-top"></span>
                <span class="dot dot-middle-bottom"></span>
                <span class="dot dot-bottom"></span>
            </div>
            <span class="circle circle-bottom"></span>
        </div>
        <div class="line line3">
            <span class="circle circle-top"></span>
            <div class="dotted">
                <span class="dot dot-top"></span>
                <span class="dot dot-middle-top"></span>
                <span class="dot dot-middle-bottom"></span>
                <span class="dot dot-bottom"></span>
            </div>
            <span class="circle circle-bottom"></span>
        </div>
        <div class="line line4">
            <span class="circle circle-top"></span>
            <div class="dotted">
                <span class="dot dot-top"></span>
                <span class="dot dot-middle-top"></span>
                <span class="dot dot-middle-bottom"></span>
                <span class="dot dot-bottom"></span>
            </div>
            <span class="circle circle-bottom"></span>
        </div>
        <div class="line line5">
            <span class="circle circle-top"></span>
            <div class="dotted">
                <span class="dot dot-top"></span>
                <span class="dot dot-middle-top"></span>
                <span class="dot dot-middle-bottom"></span>
                <span class="dot dot-bottom"></span>
            </div>
            <span class="circle circle-bottom"></span>
        </div>
        <div class="line line6">
            <span class="circle circle-top"></span>
            <div class="dotted">
                <span class="dot dot-top"></span>
                <span class="dot dot-middle-top"></span>
                <span class="dot dot-middle-bottom"></span>
                <span class="dot dot-bottom"></span>
            </div>
            <span class="circle circle-bottom"></span>
        </div>
        <div class="line line7">
            <span class="circle circle-top"></span>
            <div class="dotted">
                <span class="dot dot-top"></span>
                <span class="dot dot-middle-top"></span>
                <span class="dot dot-middle-bottom"></span>
                <span class="dot dot-bottom"></span>
            </div>
            <span class="circle circle-bottom"></span>
        </div>
        <div class="line line8">
            <span class="circle circle-top"></span>
            <div class="dotted">
                <span class="dot dot-top"></span>
                <span class="dot dot-middle-top"></span>
                <span class="dot dot-middle-bottom"></span>
                <span class="dot dot-bottom"></span>
            </div>
            <span class="circle circle-bottom"></span>
        </div>
        <div class="line line9">
            <span class="circle circle-top"></span>
            <div class="dotted">
                <span class="dot dot-top"></span>
                <span class="dot dot-middle-top"></span>
                <span class="dot dot-middle-bottom"></span>
                <span class="dot dot-bottom"></span>
            </div>
            <span class="circle circle-bottom"></span>
        </div>
        <div class="line line10">
            <span class="circle circle-top"></span>
            <div class="dotted">
                <span class="dot dot-top"></span>
                <span class="dot dot-middle-top"></span>
                <span class="dot dot-middle-bottom"></span>
                <span class="dot dot-bottom"></span>
            </div>
            <span class="circle circle-bottom"></span>
        </div>
        <div class="line line11">
            <span class="circle circle-top"></span>
            <div class="dotted">
                <span class="dot dot-top"></span>
                <span class="dot dot-middle-top"></span>
                <span class="dot dot-middle-bottom"></span>
                <span class="dot dot-bottom"></span>
            </div>
            <span class="circle circle-bottom"></span>
        </div>
    </div>
</div>
<!--加载动画组件-->
<script>
    $(window).on("load", function () {
        setTimeout(function () {
            $(".loading").addClass("loaded")
        });
    });
    $(window).on("load", function () {
        setTimeout(function () {
            $(".loading").fadeOut("slow");
        }, 1000);
    });
</script>
<footer>
<div class="footer-wrap">
    <p>&copy;Powered by Zola</p>
    <div id="flying-fish" class="flying-fish"></div>
    <div class="back"></div>
</div>
</footer>
</body>

</html>