<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="utf-8">
    <meta name="description" content="个人博客，分享生活 &#9885;墨璃暮湮·芳塔洛斯&#10031;的个人博客 努力奔跑，为了追上那个曾被寄予厚望的自己">
    <meta name="viewport" content="width=device-width, initial-scale=0.5, minimum-scale=0.5, maximum-scale=2.0">
    <title>芳塔洛斯</title>
    <link rel="Shortcut Icon" href=https://fangtaluosi.top/img/icon/logo.png>
    <link rel="alternate" type="application/rss+xml" title="RSS" href=https://fangtaluosi.top/atom.xml>
    <!-- 基本css -->
    <link rel="stylesheet" href=https://fangtaluosi.top/css/basic/basic.css>
    <!-- 主页基本css -->
    <link rel="stylesheet" href=https://fangtaluosi.top/css/page/index-basic.css>
    <!--loading组件与background组件-->
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.min.js"></script>
    <!--snow组件-->
    <script src="https://cdn.jsdelivr.net/npm/particles.js@2.0.0/particles.min.js"></script>
    <script src="https://fangtaluosi.top/js/snow.js"></script>
    <!-- 返回顶部 -->
    <script src="https://fangtaluosi.top/js/nav.js"></script>
    <!-- 页脚飞鱼 -->
    <script src="https://fangtaluosi.top/js/fish.js"></script>
<!-- 文章内容 -->
<link rel="stylesheet" href=https://fangtaluosi.top/css/page/article-content.css>
<!-- 文章内容调整 -->
<script src=https://fangtaluosi.top/js/article-content.js></script>
<!-- katex数学渲染 -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.15.2/dist/katex.min.css"
    integrity="sha384-MlJdn/WNKDGXveldHDdyRP1R4CTHr3FeuDNfhsLPYrq2t0UBkUdK2jyTnXPEK1NQ" crossorigin="anonymous">
<!-- The loading of KaTeX is deferred to speed up page rendering -->
<script defer src="https://cdn.jsdelivr.net/npm/katex@0.15.2/dist/katex.min.js"
    integrity="sha384-VQ8d8WVFw0yHhCk5E8I86oOhv48xLpnDZx5T9GogA/Y84DcCKWXDmSDfn13bzFZY" crossorigin="anonymous">
</script>
<!-- To automatically render math in text elements, include the auto-render extension: -->
<script defer src="https://cdn.jsdelivr.net/npm/katex@0.15.2/dist/contrib/auto-render.min.js"
    integrity="sha384-+XBljXPPiv+OzfbB3cVmLHf4hdUFHlWNZN5spNQ7rmHTXpd7WvJum6fIACpNNfIR" crossorigin="anonymous"
    onload="renderMathInElement(document.body);"></script>
</head>

<body>
    <header>
<div class="search-wrap">
    <div class="searchBox">
        <div class="shadow"></div>
        <input type="text" placeholder="Search for...">
        <span class="iconfont icon-search"></span>
    </div>
</div>
</header>
    <nav>
        <!-- 导航栏 -->
<div class="nav-wrap">
    <div class="nav">
        <a class="icon" href=https://fangtaluosi.top/>
            <div class="icon-img"><img src=https://fangtaluosi.top/img/icon/logo-bg.png alt=""></div>
            <div class="icon-con">
                <p>Good day</p>
                <h2>芳塔洛斯</h2>
            </div>
        </a>
        <div class="nav-line"></div>
        <div class="title">
            <p>Page</p>
        </div>
        <div class="menu">
            <a class="item" href=https://fangtaluosi.top/>
                <div class="light"></div>
                <div class="licon">
                    <span class="iconfont icon-home_light"></span>
                </div>
                <div class="con">Home</div>
                <div class="ricon">
                    <span class="iconfont icon-shezhi"></span>
                </div>
            </a>
            <a class="item" href=https://fangtaluosi.top/resource>
                <div class="light"></div>
                <div class="licon">
                    <span class="iconfont icon-resource"></span>
                </div>
                <div class="con">Resource</div>
                <div class="ricon"></div>
            </a>
            <a class="item" href=https://fangtaluosi.top/blog>
                <div class="light"></div>
                <div class="licon">
                    <span class="iconfont icon-ego-blog"></span>
                </div>
                <div class="con">Blog</div>
                <div class="ricon"></div>
            </a>
            <a class="item" href=https://fangtaluosi.top/about>
                <div class="light"></div>
                <div class="licon">
                    <span class="iconfont icon-about"></span>
                </div>
                <div class="con">About</div>
                <div class="ricon"></div>
            </a>
            <a class="item" href=https://fangtaluosi.top/tags>
                <div class="light"></div>
                <div class="licon">
                    <span class="iconfont icon-tag"></span>
                </div>
                <div class="con">Tags</div>
                <div class="ricon"></div>
            </a>
        </div>

        <div class="nav-line"></div>
        <div class="title">
            <p>Sever</p>
        </div>
        <div class="serve">
            <div class="item">
                <div class="light"></div>
                <div class="licon">
                    <span class="iconfont icon-link"></span>
                </div>
                <div class="con">Contact</div>
                <div class="ricon"></div>
            </div>
            <div class="item">
                <div class="light"></div>
                <div class="licon">
                    <span class="iconfont icon-yinle"></span>
                </div>
                <div class="con">Music</div>
                <div class="ricon"></div>
            </div>
            <a href="javascript:void(0)" id="to-top">
                <div class="item">
                    <div class="light"></div>
                    <div class="licon">
                        <span class="iconfont icon-xiangshang"></span>
                    </div>
                    <div class="con">ToTop</div>
                    <div class="ricon"></div>
                </div>
            </a>
        </div>
    </div>
</div>
</nav>
    <aside>

    </aside>
    <main>
<div class="article-page-wrap">
    <h1 class="article-title">
        Zola使用教程(2) content
    </h1>
    <p class="article-date"><strong>2022-01-23</strong></p>
    <h2 id="content">Content</h2>
<p>从这篇文章开始让我们更细致的学习zola，首先从content开始(长文警告)</p>
<h2 id="zong-lan">总览</h2>
<p>zola以目录结构确定站点结构</p>
<pre data-lang="txt" style="background-color:#eff1f5;color:#4f5b66;" class="language-txt "><code class="language-txt" data-lang="txt"><span>└── content</span><span>
</span><span>    ├── content</span><span>
</span><span>    │   └── something.md // -&gt; https://mywebsite.com/content/something/</span><span>
</span><span>    ├── blog</span><span>
</span><span>    │   ├── first.md // -&gt; https://mywebsite.com/blog/first/</span><span>
</span><span>    │   ├── _index.md // -&gt; https://mywebsite.com/blog/</span><span>
</span><span>    │   └── second.md // -&gt; https://mywebsite.com/blog/second/</span><span>
</span><span>    └── other</span><span>
</span><span>        └── _index.md // -&gt; https://mywebsite.com/other/</span><span>
</span></code></pre>
<p>每个页面路径(base_url 之后的部分，例如 blog/first/)都可以通过更改页面的path或slug属性来自定义._index.md 用于存储section本身的元数据和内容，不作为页面。section可以无限嵌套。</p>
<p>section目录不限于md文件。可以将页面和一些相关文件(例如图片或js)放在一起。构建站点时，所有非md文件都将与生成的页面一起复制，所以我们可以吃使用相对路径来调用它们。</p>
<p>可以通过config.toml中的ignored_content来指定忽视某些文件，支持通配符，如<code>ignored_content = [&quot;*.xlsx&quot;]</code></p>
<p>还可以将静态文件放置在static中。放在其中的任何文件都将直接复制到public中。</p>
<h2 id="section">Section</h2>
<h2 id="page">Page</h2>
<h2 id="duan-dai-ma">短代码</h2>
<h2 id="nei-bu-lian-jie-yu-shen-lian-jie">内部链接与深链接</h2>
<h2 id="contentmu-lu">content目录</h2>
<h2 id="yu-fa-gao-liang">语法高亮</h2>
<h2 id="fen-lei-xi-tong">分类系统</h2>
<p>通过在config文件中写入以下内容来启用一个tags分类方式</p>
<pre data-lang="toml" style="background-color:#eff1f5;color:#4f5b66;" class="language-toml "><code class="language-toml" data-lang="toml"><span style="color:#bf616a;">taxonomies </span><span>= [</span><span>
</span><span>    {</span><span style="color:#bf616a;">name </span><span>= &quot;</span><span style="color:#a3be8c;">tags</span><span>&quot;},</span><span>
</span><span>]</span><span>
</span></code></pre>
<p>接下来，让我们创建一篇博客，并写入以下内容</p>
<pre data-lang="md" style="background-color:#eff1f5;color:#4f5b66;" class="language-md "><code class="language-md" data-lang="md"><span>+++</span><span>
</span><span>title = &quot;我的第二篇博客&quot;</span><span>
</span><span>date = 2022-01-23</span><span>
</span><span>
</span><span>[taxonomies]</span><span>
</span><span>tags = [&quot;tag1&quot;,&quot;tag2&quot;]</span><span>
</span><span>+++</span><span>
</span><span>这里是正文内容</span><span>
</span></code></pre>
<p>这样就为我们的博客打上了标签，接下来让我们在blog页面中显示这些tag，并为tags创建索引页面</p>
<h3 id="xian-shi-tag">显示tag</h3>
<p>先来完成第一件事，显示这些tag，进入blog的section文件</p>
<pre data-lang="html" style="background-color:#eff1f5;color:#4f5b66;" class="language-html "><code class="language-html" data-lang="html"><span>{% extends &quot;base.html&quot; %}</span><span>
</span><span>
</span><span>{% block content %}</span><span>
</span><span>&lt;</span><span style="color:#bf616a;">h1 </span><span style="color:#d08770;">class</span><span>=&quot;</span><span style="color:#a3be8c;">title</span><span>&quot;&gt;</span><span>
</span><span>    {{ section.title }}</span><span>
</span><span>&lt;/</span><span style="color:#bf616a;">h1</span><span>&gt;</span><span>
</span><span>&lt;</span><span style="color:#bf616a;">ul</span><span>&gt;</span><span>
</span><span>    {% for page in section.pages %}</span><span>
</span><span>    &lt;</span><span style="color:#bf616a;">li</span><span>&gt;&lt;</span><span style="color:#bf616a;">a </span><span style="color:#d08770;">href</span><span>=&quot;</span><span style="color:#a3be8c;">{{ page.permalink | safe }}</span><span>&quot;&gt;{{ page.title }}&lt;/</span><span style="color:#bf616a;">a</span><span>&gt;&lt;/</span><span style="color:#bf616a;">li</span><span>&gt;</span><span>
</span><span>    {% endfor %}</span><span>
</span><span>&lt;/</span><span style="color:#bf616a;">ul</span><span>&gt;</span><span>
</span><span>{% endblock content %}</span><span>
</span></code></pre>
<p>在for循环中即<code>li</code>标签下面添加以下内容</p>
<pre data-lang="html" style="background-color:#eff1f5;color:#4f5b66;" class="language-html "><code class="language-html" data-lang="html"><span>{% if page.taxonomies.tags %}</span><span>
</span><span>    &lt;</span><span style="color:#bf616a;">div </span><span style="color:#d08770;">class</span><span>=&quot;</span><span style="color:#a3be8c;">tags</span><span>&quot;&gt;</span><span>
</span><span>        {% for tag in page.taxonomies.tags %}</span><span>
</span><span>            &lt;</span><span style="color:#bf616a;">a </span><span style="color:#d08770;">class</span><span>=&quot;</span><span style="color:#a3be8c;">tag</span><span>&quot; </span><span style="color:#d08770;">href</span><span>=&quot;</span><span style="color:#a3be8c;">{{ get_taxonomy_url(kind=</span><span>&quot;</span><span style="color:#d08770;">tags</span><span style="background-color:#bf616a;color:#eff1f5;">&quot;</span><span style="color:#d08770;">, name</span><span>=</span><span style="color:#a3be8c;">tag) </span><span style="color:#d08770;">| safe }}</span><span style="background-color:#bf616a;color:#eff1f5;">&quot;</span><span>&gt;#{{ tag }}&lt;/</span><span style="color:#bf616a;">a</span><span>&gt;</span><span>
</span><span>        {% endfor %}</span><span>
</span><span>    &lt;/</span><span style="color:#bf616a;">div</span><span>&gt;</span><span>
</span><span>{% endif %}</span><span>
</span></code></pre>
<p>第一行的if用于判断这个page有没有tag，如果有，就在内部的for循环中遍历这些tag，<code>get_taxonomy_url</code>方法将获取这个tag的地址</p>
<p>这时这些tag就显示出来了，但此时<code>a</code>标签指向的tag地址是不存在的，接下来让我们创建这个页面</p>
<h3 id="chuang-jian-tagsuo-yin-ye-mian">创建tag索引页面</h3>
<p>首先我们创建单独的tag的索引页面，对应每一个tag下有多少篇文章</p>
<p>在模板文件夹下创建tags/single.html，并写入以下内容(去掉get_后面的空格，出于某种原因，这无法编译)</p>
<pre data-lang="html" style="background-color:#eff1f5;color:#4f5b66;" class="language-html "><code class="language-html" data-lang="html"><span>{% extends &quot;base.html&quot; %}</span><span>
</span><span>
</span><span>{% block content %}</span><span>
</span><span>&lt;</span><span style="color:#bf616a;">h1 </span><span style="color:#d08770;">class</span><span>=&quot;</span><span style="color:#a3be8c;">tag-name</span><span>&quot;&gt;Tag: #{{ term.name }}&lt;/</span><span style="color:#bf616a;">h1</span><span>&gt;</span><span>
</span><span>&lt;</span><span style="color:#bf616a;">a </span><span style="color:#d08770;">class</span><span>=&quot;</span><span style="color:#a3be8c;">to-tags-list</span><span>&quot; </span><span style="color:#d08770;">href</span><span>=&quot;</span><span style="color:#a3be8c;">{{ get_ url(path=</span><span>&quot;/</span><span style="color:#d08770;">tags</span><span style="background-color:#bf616a;color:#eff1f5;">&quot;</span><span style="color:#d08770;">) }}</span><span style="background-color:#bf616a;color:#eff1f5;">&quot;</span><span>&gt;To all tags&lt;/</span><span style="color:#bf616a;">a</span><span>&gt;</span><span>
</span><span>{% for page in term.pages %}</span><span>
</span><span>    &lt;</span><span style="color:#bf616a;">a </span><span style="color:#d08770;">class</span><span>=&quot;</span><span style="color:#a3be8c;">link</span><span>&quot; </span><span style="color:#d08770;">href</span><span>=&quot;</span><span style="color:#a3be8c;">{{ page.permalink | safe }}</span><span>&quot; </span><span style="color:#d08770;">target</span><span>=&quot;</span><span style="color:#a3be8c;">_blank</span><span>&quot;&gt;{{ page.title }}&lt;/</span><span style="color:#bf616a;">a</span><span>&gt;</span><span>
</span><span>{% endfor %}</span><span>
</span><span>{% endblock content %}</span><span>
</span></code></pre>
<p><code>term</code>变量是分类中的特定组，在这里就只特定的tag，<code>h1</code>标签获取了这个term的名字，也就是这个tag的名字，<code>a</code>标签指向了一个tags列表页面，目前这个页面还不存在，我们稍后创建它，下面的for循环遍历了这个term下所有的page，并通过<code>a</code>标签显示出来，这个模板在编译后将生成[url]/tags/[tag名字]/index.html文件</p>
<p>下面我们来创建tags列表页面，创建tags/list.html文件，并在其中写入以下内容</p>
<pre data-lang="html" style="background-color:#eff1f5;color:#4f5b66;" class="language-html "><code class="language-html" data-lang="html"><span>{% extends &quot;base.html&quot; %}</span><span>
</span><span>
</span><span>{% block content %}</span><span>
</span><span>&lt;</span><span style="color:#bf616a;">h1</span><span>&gt;Tags&lt;/</span><span style="color:#bf616a;">h1</span><span>&gt;</span><span>
</span><span>&lt;</span><span style="color:#bf616a;">div </span><span style="color:#d08770;">class</span><span>=&quot;</span><span style="color:#a3be8c;">tags-list</span><span>&quot;&gt;</span><span>
</span><span>    {% for term in terms %}</span><span>
</span><span>        &lt;</span><span style="color:#bf616a;">a </span><span style="color:#d08770;">href</span><span>=&quot;</span><span style="color:#a3be8c;">{{ term.permalink }}</span><span>&quot;&gt;</span><span>
</span><span>        #{{ term.name }}</span><span>
</span><span>        &lt;/</span><span style="color:#bf616a;">a</span><span>&gt;</span><span>
</span><span>    {% endfor %}</span><span>
</span><span>&lt;/</span><span style="color:#bf616a;">div</span><span>&gt;</span><span>
</span><span>{% endblock content %}</span><span>
</span></code></pre>
<p>terms顾名思义，是term的集合，通过一个for循环遍历terms，并通过<code>a</code>标签指向先前提到的[url]/tags/[tag名字]/index.html文件。这个模板编译后，会生成[url]/tags/index.html文件，至此，一个简单的tag分类系统完成了，再经过亿点点美化就ok了</p>
<h2 id="suo-yin">索引</h2>
<h2 id="tu-pian-chu-li">图片处理</h2>

</div>
</main>
    <!-- 分页 --> <!--snow雪花组件-->
    <div id="snow"></div>
    <!--loading组件-->
<div class="loading" id="loading">
    <div class="left"></div>
    <div class="right"></div>
    <div class="wrapper">
        <div class="line line1">
            <span class="circle circle-top"></span>
            <div class="dotted">
                <span class="dot dot-top"></span>
                <span class="dot dot-middle-top"></span>
                <span class="dot dot-middle-bottom"></span>
                <span class="dot dot-bottom"></span>
            </div>
            <span class="circle circle-bottom"></span>
        </div>
        <div class="line line2">
            <span class="circle circle-top"></span>
            <div class="dotted">
                <span class="dot dot-top"></span>
                <span class="dot dot-middle-top"></span>
                <span class="dot dot-middle-bottom"></span>
                <span class="dot dot-bottom"></span>
            </div>
            <span class="circle circle-bottom"></span>
        </div>
        <div class="line line3">
            <span class="circle circle-top"></span>
            <div class="dotted">
                <span class="dot dot-top"></span>
                <span class="dot dot-middle-top"></span>
                <span class="dot dot-middle-bottom"></span>
                <span class="dot dot-bottom"></span>
            </div>
            <span class="circle circle-bottom"></span>
        </div>
        <div class="line line4">
            <span class="circle circle-top"></span>
            <div class="dotted">
                <span class="dot dot-top"></span>
                <span class="dot dot-middle-top"></span>
                <span class="dot dot-middle-bottom"></span>
                <span class="dot dot-bottom"></span>
            </div>
            <span class="circle circle-bottom"></span>
        </div>
        <div class="line line5">
            <span class="circle circle-top"></span>
            <div class="dotted">
                <span class="dot dot-top"></span>
                <span class="dot dot-middle-top"></span>
                <span class="dot dot-middle-bottom"></span>
                <span class="dot dot-bottom"></span>
            </div>
            <span class="circle circle-bottom"></span>
        </div>
        <div class="line line6">
            <span class="circle circle-top"></span>
            <div class="dotted">
                <span class="dot dot-top"></span>
                <span class="dot dot-middle-top"></span>
                <span class="dot dot-middle-bottom"></span>
                <span class="dot dot-bottom"></span>
            </div>
            <span class="circle circle-bottom"></span>
        </div>
        <div class="line line7">
            <span class="circle circle-top"></span>
            <div class="dotted">
                <span class="dot dot-top"></span>
                <span class="dot dot-middle-top"></span>
                <span class="dot dot-middle-bottom"></span>
                <span class="dot dot-bottom"></span>
            </div>
            <span class="circle circle-bottom"></span>
        </div>
        <div class="line line8">
            <span class="circle circle-top"></span>
            <div class="dotted">
                <span class="dot dot-top"></span>
                <span class="dot dot-middle-top"></span>
                <span class="dot dot-middle-bottom"></span>
                <span class="dot dot-bottom"></span>
            </div>
            <span class="circle circle-bottom"></span>
        </div>
        <div class="line line9">
            <span class="circle circle-top"></span>
            <div class="dotted">
                <span class="dot dot-top"></span>
                <span class="dot dot-middle-top"></span>
                <span class="dot dot-middle-bottom"></span>
                <span class="dot dot-bottom"></span>
            </div>
            <span class="circle circle-bottom"></span>
        </div>
        <div class="line line10">
            <span class="circle circle-top"></span>
            <div class="dotted">
                <span class="dot dot-top"></span>
                <span class="dot dot-middle-top"></span>
                <span class="dot dot-middle-bottom"></span>
                <span class="dot dot-bottom"></span>
            </div>
            <span class="circle circle-bottom"></span>
        </div>
        <div class="line line11">
            <span class="circle circle-top"></span>
            <div class="dotted">
                <span class="dot dot-top"></span>
                <span class="dot dot-middle-top"></span>
                <span class="dot dot-middle-bottom"></span>
                <span class="dot dot-bottom"></span>
            </div>
            <span class="circle circle-bottom"></span>
        </div>
    </div>
</div>
<!--加载动画组件-->
<script>
    $(window).on("load", function () {
        setTimeout(function () {
            $(".loading").addClass("loaded")
        });
    });
    $(window).on("load", function () {
        setTimeout(function () {
            $(".loading").fadeOut("slow");
        }, 1000);
    });
</script>
<footer>
<div class="footer-wrap">
    <p>&copy;芳塔洛斯 Powered by Zola</p>
    <div id="flying-fish" class="flying-fish"></div>
    <div class="back"></div>
</div>
</footer>
</body>

</html>