body,div{
    margin:0;
    padding:0;
}
body {
    background-color: #e493d0;
    background-image:
        radial-gradient(closest-side, rgba(235, 105, 78, 1), rgba(235, 105, 78, 0)),
        radial-gradient(closest-side, rgba(243, 11, 164, 1), rgba(243, 11, 164, 0)),
        radial-gradient(closest-side, rgba(254, 234, 131, 1), rgba(254, 234, 131, 0)),
        radial-gradient(closest-side, rgba(170, 142, 245, 1), rgba(170, 142, 245, 0)),
        radial-gradient(closest-side, rgba(248, 192, 147, 1), rgba(248, 192, 147, 0));
    background-size:
        130vmax 130vmax,
        80vmax 80vmax,
        90vmax 90vmax,
        110vmax 110vmax,
        90vmax 90vmax;
    background-position:
        -80vmax -80vmax,
        60vmax -30vmax,
        10vmax 10vmax,
        -30vmax -10vmax,
        50vmax 50vmax;
    background-repeat: no-repeat;
    animation: 10s movement linear infinite;
}

body::after {
    content: '';
    display: block;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}

@keyframes movement {

    0%,
    100% {
        background-size:
            130vmax 130vmax,
            80vmax 80vmax,
            90vmax 90vmax,
            110vmax 110vmax,
            90vmax 90vmax;
        background-position:
            -80vmax -80vmax,
            60vmax -30vmax,
            10vmax 10vmax,
            -30vmax -10vmax,
            50vmax 50vmax;
    }

    25% {
        background-size:
            100vmax 100vmax,
            90vmax 90vmax,
            100vmax 100vmax,
            90vmax 90vmax,
            60vmax 60vmax;
        background-position:
            -60vmax -90vmax,
            50vmax -40vmax,
            0vmax -20vmax,
            -40vmax -20vmax,
            40vmax 60vmax;
    }

    50% {
        background-size:
            80vmax 80vmax,
            110vmax 110vmax,
            80vmax 80vmax,
            60vmax 60vmax,
            80vmax 80vmax;
        background-position:
            -50vmax -70vmax,
            40vmax -30vmax,
            10vmax 0vmax,
            20vmax 10vmax,
            30vmax 70vmax;
    }

    75% {
        background-size:
            90vmax 90vmax,
            90vmax 90vmax,
            100vmax 100vmax,
            90vmax 90vmax,
            70vmax 70vmax;
        background-position:
            -50vmax -40vmax,
            50vmax -30vmax,
            20vmax 0vmax,
            -10vmax 10vmax,
            40vmax 60vmax;
    }
}

.title {
    top: 1rem;
    z-index: 100;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4rem;
    color: transparent;
    text-shadow:
        0px 0px 1px rgba(255, 255, 255, .6),
        0px 4px 4px rgba(0, 0, 0, .05);
    letter-spacing: .2rem;
}

#span {
    top: 15px;
    z-index: 100;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    color: transparent;
    text-shadow:
        0px 0px 1px rgba(255, 255, 255, .6),
        0px 4px 4px rgba(0, 0, 0, .05);
    letter-spacing: .2rem;
}

.description{
    position: relative;
    display: flex;
    justify-content: center;
    top: 1rem;
    z-index: 100;

    font-size: 4rem;
    color: transparent;
    text-shadow:
        0px 0px 1px rgba(255, 255, 255, .6),
        0px 4px 4px rgba(0, 0, 0, .05);
    letter-spacing: .2rem;
}

.output{
    position: relative;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 6rem;
    z-index: 100;

    text-align: center;
    font-size: 5rem;
    width:20rem;
    box-shadow: 0 20px 50px rgba(0, 0, 0, .5);
    overflow: hidden;
}

.output::before{
    content:'';
    position: absolute;
    top: 5px;
    left: 5px;
    bottom: 5px;
    width:48%;
    background-color:rgba(255,255,255,0.3);
    z-index: 100;
}

.output::after{
    content:'';
    position: absolute;
    top: 5px;
    right: 5px;
    bottom: 5px;
    width:49%;
    background-color:rgba(255,255,255,0.2);
    z-index: 100;
}

.output span:nth-child(1){
    z-index: 100;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 5px;
    background:linear-gradient(to right,#63b8fa,#f1e252);
    animation:animate1 2s linear infinite;
}

@keyframes animate1{
    0%{
        transform: translateX(-100%);
    }
    100%{
        transform: translateX(100%);
    }
}

.output span:nth-child(2){
    z-index: 100;
    position: absolute;
    top: 0;
    right: 0;
    width: 5px;
    height: 100%;
    background:linear-gradient(to bottom,#63b8fa,#f1e252);
    animation:animate2 2s linear infinite;
}

@keyframes animate2{
    0%{
        transform: translateY(-100%);
    }
    100%{
        transform: translateY(100%);
    }
}

.output span:nth-child(3){
    z-index: 100;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 5px;
    background:linear-gradient(to left,#63b8fa,#f1e252);
    animation:animate3 2s linear infinite;
}

@keyframes animate3{
    0%{
        transform: translateX(100%);
    }
    100%{
        transform: translateX(-100%);
    }
}

.output span:nth-child(4){
    z-index: 100;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 5px;
    height: 100%;
    background:linear-gradient(to top,#63b8fa,#f1e252);
    animation:animate4 2s linear infinite;
}

@keyframes animate4{
    0%{
        transform: translateY(100%);
    }
    100%{
        transform: translateY(-100%);
    }
}

#btn {
    position: relative;
    top: 8rem;
    width: 200px;
    height: 60px;
    z-index: 110;
    width: 10rem;
    height: 5rem;
    font-size:2rem;
    left: 50%;
    transform: translate(-50%, -50%);

    display: inline-block;
    border-radius: 30px;
    border:none;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.3);
    background: rgba(255,255,255,0.5)
}

.boxes{
    position: relative;
    top: 9rem;
    height: 95rem;
    width: 90%;
    left:5%;
    border-radius: 16px;
    box-shadow: 3px 3px 10px rgb(0 0 0 / 10%);
    background-color:rgba(255,255,255,0.3);
    z-index: 100;
}

.box {
    top: 5rem;
    position: relative;
    width: 100%;
    display: grid;
    grid-row-gap: 1rem;
    grid-column-gap: 0.5rem;
    align-items: center;
    justify-items: center;
    grid-template-columns: repeat(auto-fill,minmax(10rem,1fr));
    z-index: 100;
}

.name {
    width: 10rem;
    height: 5rem;
    font-size: 3rem;
    color: #fff;
    text-align: center;
    border-radius: 16px;
    background-color:rgba(255,255,255,0.1);
    box-shadow: 3px 3px 10px rgb(0 0 0 / 10%);
}