div#news{/*外边框亚克力盒子*/
  position: absolute;
  left: 35%;
  top: 20%;
  width:500px;
  height: 300px;
  background:rgba(255, 255, 255, 0.5);
  border-radius: 8px;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(3px);/*亚克力*/
  z-index: 20;
}
div#news p{
  position: absolute;
  top: 5%;
  left: 5%;
  font-size: 2em;
  color: #9c9c9c;
}
div#news ul {
  list-style: none;
  text-align: center;
  position: absolute;
  left: 50%;
  top: 30%;
  margin-left: -125px;
  margin-top: -180px;
  z-index: 10;
}
div#news ul h1,
div#news ul span,
div#news ul a {
  z-index: 99;
  position: relative;
}
div#news ul li {
  display: block;
  position: absolute;
  background: #fefefe;
  width: 250px;
  height: 320px;
  top: 0;
  left: 0;
  transform: rotate(10deg) skew(-60deg);
  transform-origin: bottom center;
  box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.3);
  transition: 0.4s;
  z-index: -1;
  overflow: hidden;
}

div#news ul li::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 10px;
  background: rgb(40, 255, 247);
  background: linear-gradient(
    45deg,
    rgba(40, 255, 247, 1) 0%,
    rgba(129, 40, 255, 1) 100%
  );
  transition: 0.6s;
}
div#news ul li h1 {
  font-size: 8.2em;
  background: -webkit-linear-gradient(#28fff7, #8128ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-top: 50px;
  transition: 0.4s;
}
div#news ul li > span {
  font-size: 1.3em;
  color: #999;
}

div#news ul li a {
  display: inline-block;
  padding: 10px 20px;
  top: 50px;
  border: 1px solid #fff;
  transition: all 0.7s cubic-bezier(0.68, 0, 0.265, 1.55);
  color: #fff;
  text-decoration: none;
  transform: scale(0);
  position: relative;
  overflow: hidden;
}
div#news ul li a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 0%;
  transform-origin: center top;
  background: rgba(0, 0, 0, 0.3);
  border-radius: 100% 0 0 0;
  transition: all 0.6s linear;
}
div#news ul li:hover a:hover::after {
  height: 1000%;
  width: 100%;
  position: absolute;
}
div#news ul li a:hover {
  border-color: transparent;
  transform: scale(1.2) !important;
}
div#news ul li:nth-child(1) {
  transform: rotate(20deg) skew(-20deg) translate(10px, 10px);
}
div#news ul li:nth-child(2) {
  transform: rotate(20deg) skew(-20deg) translate(0px, 0px);
}
div#news ul li:nth-child(3) {
  transform: rotate(20deg) skew(-20deg) translate(-10px, -10px);
}
div#news ul:hover li:hover {
  z-index: 9;
  background: #0e1826;
  box-shadow: 10px 10px 40px rgba(0, 0, 0, 0.5);
}
div#news ul:hover li:hover a {
  top: 10px;/*按钮弹出的位置*/
  transform: scale(1);
}
div#news ul:hover li:hover::after {
  height: 100%;
}
div#news ul:hover li:hover * {
  color: #fff;
  background: -webkit-linear-gradient(#fff, #fff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
div#news ul:hover li:nth-child(1) {
  transform: rotate(40deg) skew(0deg) translate(100px, 0);
}
div#news ul:hover li:nth-child(2) {
  transform: rotate(0) skew(0);
}
div#news ul:hover li:nth-child(3) {
  transform: rotate(-40deg) skew(0deg) translate(-100px, 0);
}
