@font-face {
  font-family: "iconfont";
  /* Project id 3144096 */
  src: url('https://at.alicdn.com/t/font_3144096_9bba3ekalw5.woff2?t=1642936210289') format('woff2'),
    url('https://at.alicdn.com/t/font_3144096_9bba3ekalw5.woff?t=1642936210289') format('woff'),
    url('https://at.alicdn.com/t/font_3144096_9bba3ekalw5.ttf?t=1642936210289') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shangchuan:before {
  content: "\e603";
}

.icon-yinle:before {
  content: "\e60e";
}

.icon-shezhi:before {
  content: "\e70f";
}

.icon-ego-blog:before {
  content: "\e632";
}

.icon-home_light:before {
  content: "\e7d4";
}

.icon-search:before {
  content: "\e600";
}

.icon-about:before {
  content: "\e601";
}

.icon-link:before {
  content: "\e772";
}

.icon-resource:before {
  content: "\e72e";
}

.icon-menu:before {
  content: "\e602";
}