.pagination{margin:30px;position:relative;z-index:10}.pagination a{color:#111;background:white;padding:10px;font-size:1.2rem;border-radius:4px}.pagination .prev{float:left}.pagination .next{float:right}
