/* 主页显示标签时 */
.card-wrap .content .tags{
    position: relative;
    top: 10px;
    display: grid;
    grid-template-columns: repeat(auto-fill, 60px);
    align-items: center;
    justify-items: center;
}

.card-wrap .content a.tag{
    font-size: 0.8em;
    color: #fff;
}

/* 单独标签页时 */
.tag-wrap .tag-name,.tag-wrap .to-tags-list{
    text-decoration: none;
    font-weight: 700;
    position: relative;
    z-index: 10;
}
.tag-wrap .tag-name{
    color: #111;
    background: white;
    padding: 10px;
    font-size: 2em;
    border-radius: 4px;
    display: inline-block;
}

.tag-wrap .to-tags-list{
    color: #fff;
    font-size: 1.5em;
    margin-top: 5px;
}