@font-face {
    font-family: "Harmony";
    src: url('asset/font/HT.ttf');
}

:root {
    --element-background: rgba(255, 255, 255, 0.8);
    --button-hover: rgba(255, 255, 255, 0.5);
    --icon-line: rgba(0, 0, 0, 0.5);
    --nav-logo-cricle: rgba(128, 128, 128, 0.4);
    --nav-logo-title: rgba(0, 0, 0, 0.6);
    --nav-item-hover: rgba(196, 196, 196, 0.8);
    --nav-light-line: rgba(0, 0, 0, 0.8);
    --scrollbar: rgba(100, 100, 100, 0.6);
    --scrollbar-hover: rgba(60, 60, 60, 0.6);
}

html,
head,
body,
header,
aside,
nav,
main,
footer,
button,
div,
a,
img,
span,
p {
    margin: 0;
    padding: 0;
    user-select: none;
}

button,
div,
p {
    font-family: "Harmony" !important;
}

button {
    border: none;
    background: transparent;
}

input {
    border: none;
    outline: none;
    background: transparent;
}

#main {
    display: grid;
    grid-template-areas:
        "header header"
        "nav main"
        "footer footer";
    grid-template-columns: 290px 1fr;
    grid-template-rows: 100px 1fr 150px;
    width: 100%;
    height: 100%;
    min-width: 500px;
    min-height: 500px;
    overflow-x: hidden;
}

#main .background {
    position: fixed;
    width: 100%;
    height: 100%;
    background: url("asset/img/background.jpg") no-repeat;
    background-position: center center;
    /*悬浮*/
    background-attachment: fixed;
    background-size: cover;
    z-index: 0;
}

#main header {
    grid-area: header;
    z-index: 10;
}

#main nav {
    grid-area: nav;
    z-index: 20;
}

#main main {
    grid-area: main;
    z-index: 10;
    padding-right: 30;
}

#main footer {
    grid-area: footer;
    z-index: 10;
}

/* 不同大小下的不同排版 */
/* 默认大小1200像素 当小于1000时 */
@media (min-width: 750px) and (max-width: 1000px) {
    #main {
        grid-template-columns: 110px 1fr;
        grid-template-rows: 50px 1fr 120px;
    }

    #main main {
        padding-right: 0;
    }
}

/* 窗口小于750的布局 最小大小为500 */
@media (max-width: 750px) {
    #main {
        grid-template-columns: 0 1fr;
        grid-template-rows: 50px 1fr 100px;
    }

    #main main {
        padding-right: 0;
    }
}